@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C2C2C;
    --foreground: #EFEBE7;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

.ticker-track {
  white-space: nowrap;
  will-change: transform;
  width: fit-content;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-ticker {
  animation: ticker 50s linear infinite;
}

.animate-ticker2 {
  animation: ticker2 50s linear infinite;
  animation-delay: -15s;
}

.ticker-track:hover>* {
  animation-play-state: paused;
}